main.css

html{

}
body *{
	font-family:"Lato", sans-serif;
	color:#5f5f5f;
}

body{
	display:block;
	margin:0;
	/*background-color:#000;*/
	width:100%;
	height:20px;
	padding-bottom:35px;
	
}

nav{
	display:inline-block;
	font-size:14px;
	color:#5f5f5f;
	
}
nav .logo{
	position:absolute;
	left:0px;	
	width:50%;
	height:20px;
	padding-left:75px;
	color: #464646;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
	text-decoration: none;
}

nav .search{
	position:absolute;
	right:0px;
	width:20%;
	height:20px;


}

/*.section{
	padding-bottom:50px;
	margin:0 auto;*/
}
.articleBox{
	width:80%;
	height:30px;
	display:inline-block;
	margin:0 auto;

}
.articleBox img{
	width:75px;
	height:75px;
	border-radius:50px;
	display:block;
	margin:30px auto;
	
	
}


.articleBox h3{
	font-size:16px;
	margin: 0 auto;
	width:55%;
	height:100px;
	line-height:35px;
	text-align:justify;
	font-family:"Lato", serif;
	font-weight:normal;
}

.articleBox h1{
	color:#242424;
	font-size:60px;
	margin:1% 0 2%;
	text-align: center;
	letter-spacing: -2px;
	line-height:60px;
	font-family:"Lora", serif;
	padding:9px 5px;
}

.articleBox h2{
	color:#5f5f5f;
	font-size:20px;
	margin:5% 0 3%;
	text-align: center;
	font-family:'Lato', sans-serif;
	font-weight:normal;

}

.articleBox p{
	text-align:center;
	width:75%;
	font-family:"Lato", sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#000;
	padding:10px;
}

.chair{
	display:block;
}
.chair img{
	margin:0 auto 5%;
	display:block;
	padding-top:68px;
	width:840px;
	height:400px;

}
p {
	display:inline-block;
	color:#5f5f5f;
}
.chair p{
	display:block;
	padding:14px 15px;
	margin:0 auto;
	width:55%;
	height:75px;
	line-height:30px;
}
.chair h1{
	font-size:18px;
}
.chair h2{
	font-family:'Petit Formal Script', cursive;
	margin:auto;
	width:50%;
	letter-spacing:.5px;
	font-size:24px;
	text-align: center;
	font-weight:bold;
	line-height:36px;
}

.chair footer{
	margin: 0 auto;
	text-align:center;
	font-weight:700;
	padding-top:10px;
	font-size:24px;
}

.columns{
	width:100%;
	height:550px;
	display:block;
	margin:0px auto;	/*get them to stack next to each other*/
}

.topleft{
	display:inline-block;
	width:49%;
	margin:0 auto;
	left:0px;
	position:absolute;
	padding:10px 0px 0px 220px;
}	
.topright{
	right:0px;
	display:inline-block;
	width:50%;
	margin:10px 15px;
	position:absolute;
	padding:0px 20px 20px 45px;

}
.bottomright{
	position:absolute;
	display:inline-block;
	width:50%;
	margin:200px 34px;
	right:0px;
	padding:0px 0px 5px 5px;
}
p{
	display:block;
	margin:auto;
	text-align:left;
	width:50%;
	padding:10px 0px;
}

.likes{
	display:block;
	margin:auto;
	text-align:center;
	width:50%;
	padding:20px 15px;

}

.likes h1{
	font-size:14px;
	line-height:15px;
}

.articlenav ul{
	display:block;
	background-color:#d0cdcd;
}

.articlenav .leftarrow{
	display:inline-block;
	position:absolute;
	left:0px;
}

.articlenav .rightarrow{
	display:inline-block;
	position:absolute;
	right:0px;
}
.descriptionbox input{
	display:block;
	border-radius:4px;
	margin:0 auto;
	/*margin:20px 50px 60px 50px;*/
	width:100%;
	left:0;
	padding:0px 12px;
	border:1px;
	text-align:top;
	box-shadow:inset 0px 1px 1px;
	line-height: 1.42857143px;
	resize:auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #db940e;
    margin: 1em auto;
    padding: 0;
    width:7.5%;

}

.more li{
	display:inline-block;
	text-align: :0px;
	/*padding:0px 0px 0px 128px;*/
	margin:1px 20px 10px 40px;
	width:60px;
}

.more .comment{
	display:inline-block;
	right:0;
	width:50%;
	float:right;
	padding-left:10px;
}

.articlenav{
	display: inline-block;
	margin:0 auto;
}

.articlenav .leftarrow{
	float:left;
	margin:20px 15px;
	padding:100px;
}

.articlenav .rightarrow{
	float:right;
	margin:20px 15px;
	padding:100px;
}